/* You can add global styles to this file, and also import other style files */
html {
    background-image: linear-gradient(rgb(224, 254, 255), rgb(142, 140, 240));
    height: 100%;   
	background-size: cover;
    background-attachment: fixed;
}


